In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Binarizer
from sklearn.preprocessing import LabelBinarizer

#pd.set_option('display.max_rows', None)

In [2]:
columns = ['age','type_employer', 'fnlwgt', 'education', 'education_num', 'marital', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hr_per_week', 'country', 'income']
census_test = pd.read_csv('adult.test', header = None, names = columns)
census_test

,age,type_employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,?
1,53,Private,169846,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,?
2,44,Private,198282,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,?
3,31,Private,114937,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,?
4,38,Federal-gov,125933,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,913447,Some-college,10,Divorced,Other-service,Unmarried,Black,Female,0,0,40,United-States,?
996,53,Private,283602,Bachelors,13,Divorced,Sales,Not-in-family,White,Female,13550,0,43,United-States,?
997,52,Private,310045,9th,5,Married-spouse-absent,Machine-op-inspct,Not-in-family,Asian-Pac-Islander,Female,0,0,30,China,?
998,35,Private,48123,12th,8,Married-civ-spouse,Craft-repair,Wife,White,Female,0,0,50,United-States,?
999,56,Private,28729,11th,7,Separated,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,?

In [3]:
census_test.isna().sum()

age              0
type_employer    0
fnlwgt           0
education        0
education_num    0
marital          0
occupation       0
relationship     0
race             0
sex              0
capital_gain     0
capital_loss     0
hr_per_week      0
country          0
income           0
dtype: int64

In [49]:
census_test.dtypes

age               int64
type_employer    object
fnlwgt            int64
education        object
education_num     int64
marital          object
occupation       object
relationship     object
race             object
sex              object
capital_gain      int64
capital_loss      int64
hr_per_week       int64
country          object
income           object
dtype: object

In [4]:
census_test_subset = census_test [['age', 'type_employer', 'education_num',
       'marital', 'occupation', 'race', 'sex', 'capital_gain',
       'capital_loss', 'hr_per_week', 'country', 'income']]
census_test_subset

,age,type_employer,education_num,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,43,Self-emp-not-inc,14,Divorced,Exec-managerial,White,Female,0,0,45,United-States,?
1,53,Private,9,Married-civ-spouse,Adm-clerical,White,Female,0,0,40,United-States,?
2,44,Private,13,Married-civ-spouse,Exec-managerial,White,Male,15024,0,60,United-States,?
3,31,Private,12,Married-civ-spouse,Adm-clerical,White,Male,0,0,40,United-States,?
4,38,Federal-gov,14,Married-civ-spouse,Prof-specialty,White,Male,0,0,40,Iran,?
...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,10,Divorced,Other-service,Black,Female,0,0,40,United-States,?
996,53,Private,13,Divorced,Sales,White,Female,13550,0,43,United-States,?
997,52,Private,5,Married-spouse-absent,Machine-op-inspct,Asian-Pac-Islander,Female,0,0,30,China,?
998,35,Private,8,Married-civ-spouse,Craft-repair,White,Female,0,0,50,United-States,?
999,56,Private,7,Separated,Machine-op-inspct,White,Female,0,0,40,United-States,?

In [5]:
census_test_sub = census_test_subset [['age', 'type_employer', 'education_num',
       'marital', 'occupation', 'race', 'sex', 'capital_gain',
       'capital_loss', 'hr_per_week', 'country', 'income']]
census_test_sub

,age,type_employer,education_num,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,43,Self-emp-not-inc,14,Divorced,Exec-managerial,White,Female,0,0,45,United-States,?
1,53,Private,9,Married-civ-spouse,Adm-clerical,White,Female,0,0,40,United-States,?
2,44,Private,13,Married-civ-spouse,Exec-managerial,White,Male,15024,0,60,United-States,?
3,31,Private,12,Married-civ-spouse,Adm-clerical,White,Male,0,0,40,United-States,?
4,38,Federal-gov,14,Married-civ-spouse,Prof-specialty,White,Male,0,0,40,Iran,?
...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,10,Divorced,Other-service,Black,Female,0,0,40,United-States,?
996,53,Private,13,Divorced,Sales,White,Female,13550,0,43,United-States,?
997,52,Private,5,Married-spouse-absent,Machine-op-inspct,Asian-Pac-Islander,Female,0,0,30,China,?
998,35,Private,8,Married-civ-spouse,Craft-repair,White,Female,0,0,50,United-States,?
999,56,Private,7,Separated,Machine-op-inspct,White,Female,0,0,40,United-States,?

In [6]:
census_test_sub['capital_gain_bin'] = census_test_sub['capital_gain'].astype('bool')
print(census_test_sub['capital_gain_bin'])
print(census_test_sub['capital_gain'])

0      False
1      False
2       True
3      False
4      False
       ...
995    False
996     True
997    False
998    False
999    False
Name: capital_gain_bin, Length: 1000, dtype: bool
0          0
1          0
2      15024
3          0
4          0
       ...
995        0
996    13550
997        0
998        0
999        0
Name: capital_gain, Length: 1000, dtype: int64

In [7]:
census_test_sub['capital_loss_bin'] = census_test_sub['capital_loss'].astype('bool')
print(census_test_sub['capital_loss_bin'])
print(census_test_sub['capital_loss'])
census_test_sub['capital_loss_bin'].value_counts()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: capital_loss_bin, Length: 1000, dtype: bool
0      0
1      0
2      0
3      0
4      0
      ..
995    0
996    0
997    0
998    0
999    0
Name: capital_loss, Length: 1000, dtype: int64

False    929
True      71
Name: capital_loss_bin, dtype: int64

In [8]:
census_test_sub

,age,type_employer,education_num,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income,capital_gain_bin,capital_loss_bin
0,43,Self-emp-not-inc,14,Divorced,Exec-managerial,White,Female,0,0,45,United-States,?,False,False
1,53,Private,9,Married-civ-spouse,Adm-clerical,White,Female,0,0,40,United-States,?,False,False
2,44,Private,13,Married-civ-spouse,Exec-managerial,White,Male,15024,0,60,United-States,?,True,False
3,31,Private,12,Married-civ-spouse,Adm-clerical,White,Male,0,0,40,United-States,?,False,False
4,38,Federal-gov,14,Married-civ-spouse,Prof-specialty,White,Male,0,0,40,Iran,?,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,10,Divorced,Other-service,Black,Female,0,0,40,United-States,?,False,False
996,53,Private,13,Divorced,Sales,White,Female,13550,0,43,United-States,?,True,False
997,52,Private,5,Married-spouse-absent,Machine-op-inspct,Asian-Pac-Islander,Female,0,0,30,China,?,False,False
998,35,Private,8,Married-civ-spouse,Craft-repair,White,Female,0,0,50,United-States,?,False,False
999,56,Private,7,Separated,Machine-op-inspct,White,Female,0,0,40,United-States,?,False,False

In [9]:
countries = pd.get_dummies(census_test_sub['country'])
countries

,Canada,China,Columbia,Cuba,Ecuador,El-Salvador,France,Germany,Greece,Haiti,...,Peru,Philippines,Poland,Portugal,Puerto-Rico,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
997,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [10]:
United_States = countries['United-States']
print(United_States)

0      1
1      1
2      1
3      1
4      0
      ..
995    1
996    1
997    0
998    1
999    1
Name: United-States, Length: 1000, dtype: uint8

In [11]:
census_test_sub['country_bin'] = United_States
census_test_sub

,age,type_employer,education_num,marital,occupation,race,sex,capital_gain,capital_loss,hr_per_week,country,income,capital_gain_bin,capital_loss_bin,country_bin
0,43,Self-emp-not-inc,14,Divorced,Exec-managerial,White,Female,0,0,45,United-States,?,False,False,1
1,53,Private,9,Married-civ-spouse,Adm-clerical,White,Female,0,0,40,United-States,?,False,False,1
2,44,Private,13,Married-civ-spouse,Exec-managerial,White,Male,15024,0,60,United-States,?,True,False,1
3,31,Private,12,Married-civ-spouse,Adm-clerical,White,Male,0,0,40,United-States,?,False,False,1
4,38,Federal-gov,14,Married-civ-spouse,Prof-specialty,White,Male,0,0,40,Iran,?,False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,10,Divorced,Other-service,Black,Female,0,0,40,United-States,?,False,False,1
996,53,Private,13,Divorced,Sales,White,Female,13550,0,43,United-States,?,True,False,1
997,52,Private,5,Married-spouse-absent,Machine-op-inspct,Asian-Pac-Islander,Female,0,0,30,China,?,False,False,0
998,35,Private,8,Married-civ-spouse,Craft-repair,White,Female,0,0,50,United-States,?,False,False,1
999,56,Private,7,Separated,Machine-op-inspct,White,Female,0,0,40,United-States,?,False,False,1

In [12]:
sex = pd.get_dummies(census_test_sub['sex'])
female = sex['Female']
census_test_sub['sex_bin'] = female

In [13]:
bins = [0, 25, 45, 65, 90]
census_test_sub['age_dis'] = pd.cut(census_test_sub['age'], bins, labels = ['young', 'adult', 'senior', 'old'], include_lowest = True)

print(census_test_sub['age'])
print(census_test_sub['age_dis'])

0      43
1      53
2      44
3      31
4      38
       ..
995    33
996    53
997    52
998    35
999    56
Name: age, Length: 1000, dtype: int64
0       adult
1      senior
2       adult
3       adult
4       adult
        ...
995     adult
996    senior
997    senior
998     adult
999    senior
Name: age_dis, Length: 1000, dtype: category
Categories (4, object): ['young' < 'adult' < 'senior' < 'old']

In [14]:
age = pd.get_dummies(census_test_sub['age_dis'])
age

     young  adult  senior  old
0        0      1       0    0
1        0      0       1    0
2        0      1       0    0
3        0      1       0    0
4        0      1       0    0
..     ...    ...     ...  ...
995      0      1       0    0
996      0      0       1    0
997      0      0       1    0
998      0      1       0    0
999      0      0       1    0

[1000 rows x 4 columns]

In [15]:
census_test_sub = pd.concat([census_test_sub.drop(['age_dis'],axis=1), age],axis=1)

In [16]:
bins = [0, 39, 40, 70]
census_test_sub['hr_per_week_dis'] = pd.cut(census_test_sub['hr_per_week'], bins, labels = ['part=time', 'full-time', 'over-time'], include_lowest = True)

print(census_test_sub['hr_per_week'])
print(census_test_sub['hr_per_week_dis'])

0      45
1      40
2      60
3      40
4      40
       ..
995    40
996    43
997    30
998    50
999    40
Name: hr_per_week, Length: 1000, dtype: int64
0      over-time
1      full-time
2      over-time
3      full-time
4      full-time
         ...
995    full-time
996    over-time
997    part=time
998    over-time
999    full-time
Name: hr_per_week_dis, Length: 1000, dtype: category
Categories (3, object): ['part=time' < 'full-time' < 'over-time']

In [17]:
hr_per_week = pd.get_dummies(census_test_sub['hr_per_week_dis'])
hr_per_week

     part=time  full-time  over-time
0            0          0          1
1            0          1          0
2            0          0          1
3            0          1          0
4            0          1          0
..         ...        ...        ...
995          0          1          0
996          0          0          1
997          1          0          0
998          0          0          1
999          0          1          0

[1000 rows x 3 columns]

In [18]:
census_test_sub = pd.concat([census_test_sub.drop(['hr_per_week_dis'],axis=1), hr_per_week],axis=1)

In [19]:
race = pd.get_dummies(census_test_sub['race'])
census_test_sub = pd.concat([census_test_sub.drop(['race'],axis=1), race],axis=1)
census_test_sub

,age,type_employer,education_num,marital,occupation,sex,capital_gain,capital_loss,hr_per_week,country,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,14,Divorced,Exec-managerial,Female,0,0,45,United-States,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,9,Married-civ-spouse,Adm-clerical,Female,0,0,40,United-States,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,13,Married-civ-spouse,Exec-managerial,Male,15024,0,60,United-States,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,12,Married-civ-spouse,Adm-clerical,Male,0,0,40,United-States,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,14,Married-civ-spouse,Prof-specialty,Male,0,0,40,Iran,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,10,Divorced,Other-service,Female,0,0,40,United-States,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,13,Divorced,Sales,Female,13550,0,43,United-States,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,5,Married-spouse-absent,Machine-op-inspct,Female,0,0,30,China,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,8,Married-civ-spouse,Craft-repair,Female,0,0,50,United-States,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,7,Separated,Machine-op-inspct,Female,0,0,40,United-States,...,1,0,0,1,0,0,0,0,0,1

In [20]:
census_test_sub.drop(['capital_gain', 'capital_loss', 'country', 'sex', 'age', 'hr_per_week'], axis=1)

,type_employer,education_num,marital,occupation,income,capital_gain_bin,capital_loss_bin,country_bin,sex_bin,young,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,Self-emp-not-inc,14,Divorced,Exec-managerial,?,False,False,1,1,0,...,0,0,0,0,1,0,0,0,0,1
1,Private,9,Married-civ-spouse,Adm-clerical,?,False,False,1,1,0,...,1,0,0,1,0,0,0,0,0,1
2,Private,13,Married-civ-spouse,Exec-managerial,?,True,False,1,0,0,...,0,0,0,0,1,0,0,0,0,1
3,Private,12,Married-civ-spouse,Adm-clerical,?,False,False,1,0,0,...,0,0,0,1,0,0,0,0,0,1
4,Federal-gov,14,Married-civ-spouse,Prof-specialty,?,False,False,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,State-gov,10,Divorced,Other-service,?,False,False,1,1,0,...,0,0,0,1,0,0,0,1,0,0
996,Private,13,Divorced,Sales,?,True,False,1,1,0,...,1,0,0,0,1,0,0,0,0,1
997,Private,5,Married-spouse-absent,Machine-op-inspct,?,False,False,0,1,0,...,1,0,1,0,0,0,1,0,0,0
998,Private,8,Married-civ-spouse,Craft-repair,?,False,False,1,1,0,...,0,0,0,0,1,0,0,0,0,1
999,Private,7,Separated,Machine-op-inspct,?,False,False,1,1,0,...,1,0,0,1,0,0,0,0,0,1

In [21]:
# creating a blank series
Not_married = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["marital"][i] == "Married-spouse-absent":
        Not_married[i] = 1
 
    elif census_test_sub["marital"][i] == "Separated":
        Not_married[i] = 1
 
    elif census_test_sub["marital"][i] == "Divorced":
        Not_married[i] = 1
        
    elif census_test_sub["marital"][i] == "Widowed":
        Not_married[i]= 1
 
    else:
        Not_married[i] = 0
        # Not_married[i]= data["Type"][i]
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "Not-married", Not_married)
 
# list output
census_test_sub

,age,type_employer,Not-married,education_num,marital,occupation,sex,capital_gain,capital_loss,hr_per_week,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,1,14,Divorced,Exec-managerial,Female,0,0,45,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,0,9,Married-civ-spouse,Adm-clerical,Female,0,0,40,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,0,13,Married-civ-spouse,Exec-managerial,Male,15024,0,60,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,0,12,Married-civ-spouse,Adm-clerical,Male,0,0,40,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,0,14,Married-civ-spouse,Prof-specialty,Male,0,0,40,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,1,10,Divorced,Other-service,Female,0,0,40,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,1,13,Divorced,Sales,Female,13550,0,43,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,1,5,Married-spouse-absent,Machine-op-inspct,Female,0,0,30,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,0,8,Married-civ-spouse,Craft-repair,Female,0,0,50,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,1,7,Separated,Machine-op-inspct,Female,0,0,40,...,1,0,0,1,0,0,0,0,0,1

In [22]:
# creating a blank series
Married = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["marital"][i] == "Married-AF-spouse":
        Married[i] = 1
 
    elif census_test_sub["marital"][i] == "Married-civ-spouse":
        Married[i] = 1
 
    else:
        Married[i] = 0
        # Not_married[i]= data["Type"][i]
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "Married", Married)
 
# list output
census_test_sub

,age,type_employer,Married,Not-married,education_num,marital,occupation,sex,capital_gain,capital_loss,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,0,1,14,Divorced,Exec-managerial,Female,0,0,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,1,0,9,Married-civ-spouse,Adm-clerical,Female,0,0,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,1,0,13,Married-civ-spouse,Exec-managerial,Male,15024,0,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,1,0,12,Married-civ-spouse,Adm-clerical,Male,0,0,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,1,0,14,Married-civ-spouse,Prof-specialty,Male,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,1,10,Divorced,Other-service,Female,0,0,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,0,1,13,Divorced,Sales,Female,13550,0,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,0,1,5,Married-spouse-absent,Machine-op-inspct,Female,0,0,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,1,0,8,Married-civ-spouse,Craft-repair,Female,0,0,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,0,1,7,Separated,Machine-op-inspct,Female,0,0,...,1,0,0,1,0,0,0,0,0,1

In [23]:
# creating a blank series
Never_married = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["marital"][i] == "Never-married":
        Never_married[i] = 1
 
    else:
        Never_married[i] = 0
        # Not_married[i]= data["Type"][i]
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "Never_married", Never_married)
 
# list output
census_test_sub

,age,type_employer,Never_married,Married,Not-married,education_num,marital,occupation,sex,capital_gain,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,0,0,1,14,Divorced,Exec-managerial,Female,0,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,0,1,0,9,Married-civ-spouse,Adm-clerical,Female,0,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,0,1,0,13,Married-civ-spouse,Exec-managerial,Male,15024,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,0,1,0,12,Married-civ-spouse,Adm-clerical,Male,0,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,0,1,0,14,Married-civ-spouse,Prof-specialty,Male,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,0,1,10,Divorced,Other-service,Female,0,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,0,0,1,13,Divorced,Sales,Female,13550,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,0,0,1,5,Married-spouse-absent,Machine-op-inspct,Female,0,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,0,1,0,8,Married-civ-spouse,Craft-repair,Female,0,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,0,0,1,7,Separated,Machine-op-inspct,Female,0,...,1,0,0,1,0,0,0,0,0,1

In [24]:
census_test_sub.drop(['capital_gain', 'capital_loss', 'country', 'sex', 'age', 'hr_per_week', 'marital'], axis=1)

,type_employer,Never_married,Married,Not-married,education_num,occupation,income,capital_gain_bin,capital_loss_bin,country_bin,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,Self-emp-not-inc,0,0,1,14,Exec-managerial,?,False,False,1,...,0,0,0,0,1,0,0,0,0,1
1,Private,0,1,0,9,Adm-clerical,?,False,False,1,...,1,0,0,1,0,0,0,0,0,1
2,Private,0,1,0,13,Exec-managerial,?,True,False,1,...,0,0,0,0,1,0,0,0,0,1
3,Private,0,1,0,12,Adm-clerical,?,False,False,1,...,0,0,0,1,0,0,0,0,0,1
4,Federal-gov,0,1,0,14,Prof-specialty,?,False,False,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,State-gov,0,0,1,10,Other-service,?,False,False,1,...,0,0,0,1,0,0,0,1,0,0
996,Private,0,0,1,13,Sales,?,True,False,1,...,1,0,0,0,1,0,0,0,0,1
997,Private,0,0,1,5,Machine-op-inspct,?,False,False,0,...,1,0,1,0,0,0,1,0,0,0
998,Private,0,1,0,8,Craft-repair,?,False,False,1,...,0,0,0,0,1,0,0,0,0,1
999,Private,0,0,1,7,Machine-op-inspct,?,False,False,1,...,1,0,0,1,0,0,0,0,0,1

In [25]:
# creating a blank series
Gov = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["type_employer"][i] == "Federal-gov":
        Gov[i] = 1
 
    elif census_test_sub["type_employer"][i] == "Local-gov":
        Gov[i] = 1
 
    elif census_test_sub["type_employer"][i] == "State-gov":
        Gov[i] = 1
 
    else:
        Gov[i] = 0
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "gov", Gov)
 
# list output
census_test_sub

,age,type_employer,gov,Never_married,Married,Not-married,education_num,marital,occupation,sex,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,0,0,0,1,14,Divorced,Exec-managerial,Female,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,0,0,1,0,9,Married-civ-spouse,Adm-clerical,Female,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,0,0,1,0,13,Married-civ-spouse,Exec-managerial,Male,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,0,0,1,0,12,Married-civ-spouse,Adm-clerical,Male,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,1,0,1,0,14,Married-civ-spouse,Prof-specialty,Male,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,1,0,0,1,10,Divorced,Other-service,Female,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,0,0,0,1,13,Divorced,Sales,Female,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,0,0,0,1,5,Married-spouse-absent,Machine-op-inspct,Female,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,0,0,1,0,8,Married-civ-spouse,Craft-repair,Female,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,0,0,0,1,7,Separated,Machine-op-inspct,Female,...,1,0,0,1,0,0,0,0,0,1

In [26]:
# creating a blank series
Not_working = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["type_employer"][i] == "Without-pay":
        Not_working[i] = 1
 
    elif census_test_sub["type_employer"][i] == "Never-worked":
        Not_working[i] = 1
 
    else:
        Not_working[i] = 0
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "not_working", Not_working)
 
# list output
census_test_sub

,age,type_employer,not_working,gov,Never_married,Married,Not-married,education_num,marital,occupation,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,0,0,0,0,1,14,Divorced,Exec-managerial,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,0,0,0,1,0,9,Married-civ-spouse,Adm-clerical,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,0,0,0,1,0,13,Married-civ-spouse,Exec-managerial,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,0,0,0,1,0,12,Married-civ-spouse,Adm-clerical,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,0,1,0,1,0,14,Married-civ-spouse,Prof-specialty,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,1,0,0,1,10,Divorced,Other-service,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,0,0,0,0,1,13,Divorced,Sales,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,0,0,0,0,1,5,Married-spouse-absent,Machine-op-inspct,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,0,0,0,1,0,8,Married-civ-spouse,Craft-repair,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,0,0,0,0,1,7,Separated,Machine-op-inspct,...,1,0,0,1,0,0,0,0,0,1

In [27]:
# creating a blank series
Private = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["type_employer"][i] == "Private":
        Private[i] = 1
 
    else:
        Private[i] = 0
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "private", Private)
 
# list output
census_test_sub

,age,type_employer,private,not_working,gov,Never_married,Married,Not-married,education_num,marital,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,0,0,0,0,0,1,14,Divorced,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,1,0,0,0,1,0,9,Married-civ-spouse,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,1,0,0,0,1,0,13,Married-civ-spouse,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,1,0,0,0,1,0,12,Married-civ-spouse,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,0,0,1,0,1,0,14,Married-civ-spouse,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,0,1,0,0,1,10,Divorced,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,1,0,0,0,0,1,13,Divorced,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,1,0,0,0,0,1,5,Married-spouse-absent,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,1,0,0,0,1,0,8,Married-civ-spouse,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,1,0,0,0,0,1,7,Separated,...,1,0,0,1,0,0,0,0,0,1

In [28]:
# creating a blank series
Self_employed = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["type_employer"][i] == "Self-emp-inc":
        Self_employed[i] = 1
 
    elif census_test_sub["type_employer"][i] == "Self-emp-not-inc":
        Self_employed[i] = 1
 
    else:
        Self_employed[i] = 0
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "self_employed", Self_employed)
 
# list output
census_test_sub

,age,type_employer,self_employed,private,not_working,gov,Never_married,Married,Not-married,education_num,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,1,0,0,0,0,0,1,14,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,0,1,0,0,0,1,0,9,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,0,1,0,0,0,1,0,13,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,0,1,0,0,0,1,0,12,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,0,0,0,1,0,1,0,14,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,0,0,1,0,0,1,10,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,0,1,0,0,0,0,1,13,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,0,1,0,0,0,0,1,5,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,0,1,0,0,0,1,0,8,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,0,1,0,0,0,0,1,7,...,1,0,0,1,0,0,0,0,0,1

In [29]:
census_test_sub.drop(['capital_gain', 'capital_loss', 'country', 'sex', 'age', 'hr_per_week', 'marital', 'type_employer'], axis=1)

,self_employed,private,not_working,gov,Never_married,Married,Not-married,education_num,occupation,income,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,1,0,0,0,0,0,1,14,Exec-managerial,?,...,0,0,0,0,1,0,0,0,0,1
1,0,1,0,0,0,1,0,9,Adm-clerical,?,...,1,0,0,1,0,0,0,0,0,1
2,0,1,0,0,0,1,0,13,Exec-managerial,?,...,0,0,0,0,1,0,0,0,0,1
3,0,1,0,0,0,1,0,12,Adm-clerical,?,...,0,0,0,1,0,0,0,0,0,1
4,0,0,0,1,0,1,0,14,Prof-specialty,?,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,1,0,0,1,10,Other-service,?,...,0,0,0,1,0,0,0,1,0,0
996,0,1,0,0,0,0,1,13,Sales,?,...,1,0,0,0,1,0,0,0,0,1
997,0,1,0,0,0,0,1,5,Machine-op-inspct,?,...,1,0,1,0,0,0,1,0,0,0
998,0,1,0,0,0,1,0,8,Craft-repair,?,...,0,0,0,0,1,0,0,0,0,1
999,0,1,0,0,0,0,1,7,Machine-op-inspct,?,...,1,0,0,1,0,0,0,0,0,1

In [30]:
# creating a blank series
Other = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["occupation"][i] == "Tech-support":
        Other[i] = 1
 
    elif census_test_sub["occupation"][i] == "Adm-clerical":
        Other[i] = 1
 
    elif census_test_sub["occupation"][i] == "Priv-house-serv":
        Other[i] = 1
        
    elif census_test_sub["occupation"][i] == "Protective-serv":
        Other[i]= 1
 
    elif census_test_sub["occupation"][i] == "Armed-Forces":
        Other[i]= 1
        
    elif census_test_sub["occupation"][i] == "Other-service":
        Other[i]= 1

    else:
        Other[i] = 0
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "other", Other)
 
# list output
census_test_sub

,age,type_employer,other,self_employed,private,not_working,gov,Never_married,Married,Not-married,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,1,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,1,0,0,0,1,0,0,1,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,0,0,1,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,0,0,1,0,0,0,0,1,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,0,0,1,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,1

In [31]:
# creating a blank series
Exec_managerial = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["occupation"][i] == "Exec-managerial":
        Exec_managerial[i] = 1
 
    else:
        Exec_managerial[i] = 0
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "exec_managerial", Exec_managerial)
 
# list output
census_test_sub

,age,type_employer,exec_managerial,other,self_employed,private,not_working,gov,Never_married,Married,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,0,1,0,1,0,0,0,1,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,1,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,0,1,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,0,0,0,1,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1

In [32]:
# creating a blank series
Prof_specialty = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["occupation"][i] == "Prof-specialty":
        Prof_specialty[i] = 1
 
    else:
        Prof_specialty[i] = 0
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "prof_specialty", Prof_specialty)
 
# list output
census_test_sub

,age,type_employer,prof_specialty,exec_managerial,other,self_employed,private,not_working,gov,Never_married,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,0,0,1,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,0,0,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,0,0,0,0,1,0,0,0,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,1

In [33]:
# creating a blank series
Sales = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["occupation"][i] == "Sales":
        Sales[i] = 1
 
    else:
        Sales[i] = 0
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "sales", Sales)
 
# list output
census_test_sub

,age,type_employer,sales,prof_specialty,exec_managerial,other,self_employed,private,not_working,gov,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,0,0,0,1,0,1,0,0,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,0,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,0,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,1,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,0,0,0,0,0,1,0,0,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,0,1

In [34]:
# creating a blank series
ManualWork = pd.Series(['int32'])
 
# running a for loop and assigning some values to series
for i in range(len(census_test_sub)):
    if census_test_sub["occupation"][i] == "Craft-repair":
        ManualWork[i] = 1
 
    elif census_test_sub["occupation"][i] == "Farming-fishing":
        ManualWork[i] = 1
 
    elif census_test_sub["occupation"][i] == "Handlers-cleaners":
        ManualWork[i] = 1
        
    elif census_test_sub["occupation"][i] == "Machine-op-inspct":
        ManualWork[i]= 1
 
    elif census_test_sub["occupation"][i] == "Transport-moving":
        ManualWork[i]= 1

    else:
        ManualWork[i] = 0
         
# inserting new column with values of list made above       
census_test_sub.insert(2, "manual_work", ManualWork)
 
# list output
census_test_sub

,age,type_employer,manual_work,sales,prof_specialty,exec_managerial,other,self_employed,private,not_working,...,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,43,Self-emp-not-inc,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
1,53,Private,0,0,0,0,1,0,1,0,...,1,0,0,1,0,0,0,0,0,1
2,44,Private,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
3,31,Private,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
4,38,Federal-gov,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
996,53,Private,0,1,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
997,52,Private,1,0,0,0,0,0,1,0,...,1,0,1,0,0,0,1,0,0,0
998,35,Private,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
999,56,Private,1,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,1

In [38]:
pd.set_option('display.max_columns', None)

In [52]:
education_num = pd.get_dummies(census_test_sub['education_num'])
education_num

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0     0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0
1     0   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0
3     0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0
4     0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
995   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0
996   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0
997   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0
998   0   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0
999   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0

[1000 rows x 16 columns]

In [53]:
census_test_sub = pd.concat([census_test_sub.drop(['education_num'],axis=1), education_num],axis=1)

In [55]:
census_test_sub

,age,type_employer,manual_work,sales,prof_specialty,exec_managerial,other,self_employed,private,not_working,gov,Never_married,Married,Not-married,marital,occupation,sex,capital_gain,capital_loss,hr_per_week,country,capital_gain_bin,capital_loss_bin,country_bin,sex_bin,young,adult,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White,income,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,43,Self-emp-not-inc,0,0,0,1,0,1,0,0,0,0,0,1,Divorced,Exec-managerial,Female,0,0,45,United-States,False,False,1,1,0,1,0,0,0,0,1,0,0,0,0,1,?,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,53,Private,0,0,0,0,1,0,1,0,0,0,1,0,Married-civ-spouse,Adm-clerical,Female,0,0,40,United-States,False,False,1,1,0,0,1,0,0,1,0,0,0,0,0,1,?,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,44,Private,0,0,0,1,0,0,1,0,0,0,1,0,Married-civ-spouse,Exec-managerial,Male,15024,0,60,United-States,True,False,1,0,0,1,0,0,0,0,1,0,0,0,0,1,?,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,31,Private,0,0,0,0,1,0,1,0,0,0,1,0,Married-civ-spouse,Adm-clerical,Male,0,0,40,United-States,False,False,1,0,0,1,0,0,0,1,0,0,0,0,0,1,?,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,38,Federal-gov,0,0,1,0,0,0,0,0,1,0,1,0,Married-civ-spouse,Prof-specialty,Male,0,0,40,Iran,False,False,0,0,0,1,0,0,0,1,0,0,0,0,0,1,?,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,0,0,0,1,0,0,0,1,0,0,1,Divorced,Other-service,Female,0,0,40,United-States,False,False,1,1,0,1,0,0,0,1,0,0,0,1,0,0,?,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
996,53,Private,0,1,0,0,0,0,1,0,0,0,0,1,Divorced,Sales,Female,13550,0,43,United-States,True,False,1,1,0,0,1,0,0,0,1,0,0,0,0,1,?,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
997,52,Private,1,0,0,0,0,0,1,0,0,0,0,1,Married-spouse-absent,Machine-op-inspct,Female,0,0,30,China,False,False,0,1,0,0,1,0,1,0,0,0,1,0,0,0,?,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
998,35,Private,1,0,0,0,0,0,1,0,0,0,1,0,Married-civ-spouse,Craft-repair,Female,0,0,50,United-States,False,False,1,1,0,1,0,0,0,0,1,0,0,0,0,1,?,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
999,56,Private,1,0,0,0,0,0,1,0,0,0,0,1,Separated,Machine-op-inspct,Female,0,0,40,United-States,False,False,1,1,0,0,1,0,0,1,0,0,0,0,0,1,?,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [56]:
# shift column 'income' to last position
last_column = census_test_sub.pop('income')
  
# insert column using insert(position,column_name,last_column) function
census_test_sub.insert(53, 'income', last_column)

census_test_sub

,age,type_employer,manual_work,sales,prof_specialty,exec_managerial,other,self_employed,private,not_working,gov,Never_married,Married,Not-married,marital,occupation,sex,capital_gain,capital_loss,hr_per_week,country,capital_gain_bin,capital_loss_bin,country_bin,sex_bin,young,adult,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,income
0,43,Self-emp-not-inc,0,0,0,1,0,1,0,0,0,0,0,1,Divorced,Exec-managerial,Female,0,0,45,United-States,False,False,1,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,?
1,53,Private,0,0,0,0,1,0,1,0,0,0,1,0,Married-civ-spouse,Adm-clerical,Female,0,0,40,United-States,False,False,1,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,?
2,44,Private,0,0,0,1,0,0,1,0,0,0,1,0,Married-civ-spouse,Exec-managerial,Male,15024,0,60,United-States,True,False,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,?
3,31,Private,0,0,0,0,1,0,1,0,0,0,1,0,Married-civ-spouse,Adm-clerical,Male,0,0,40,United-States,False,False,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,?
4,38,Federal-gov,0,0,1,0,0,0,0,0,1,0,1,0,Married-civ-spouse,Prof-specialty,Male,0,0,40,Iran,False,False,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,33,State-gov,0,0,0,0,1,0,0,0,1,0,0,1,Divorced,Other-service,Female,0,0,40,United-States,False,False,1,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,?
996,53,Private,0,1,0,0,0,0,1,0,0,0,0,1,Divorced,Sales,Female,13550,0,43,United-States,True,False,1,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,?
997,52,Private,1,0,0,0,0,0,1,0,0,0,0,1,Married-spouse-absent,Machine-op-inspct,Female,0,0,30,China,False,False,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,?
998,35,Private,1,0,0,0,0,0,1,0,0,0,1,0,Married-civ-spouse,Craft-repair,Female,0,0,50,United-States,False,False,1,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,?
999,56,Private,1,0,0,0,0,0,1,0,0,0,0,1,Separated,Machine-op-inspct,Female,0,0,40,United-States,False,False,1,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,?

In [44]:
census_test_s = census_test_sub.drop(['capital_gain', 'capital_loss', 'country', 'sex', 'age', 'hr_per_week', 'marital', 'type_employer','occupation'], axis=1)
census_test_s

,manual_work,sales,prof_specialty,exec_managerial,other,self_employed,private,not_working,gov,Never_married,Married,Not-married,education_num,capital_gain_bin,capital_loss_bin,country_bin,sex_bin,young,adult,senior,old,part=time,full-time,over-time,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White,income
0,0,0,0,1,0,1,0,0,0,0,0,1,14,False,False,1,1,0,1,0,0,0,0,1,0,0,0,0,1,?
1,0,0,0,0,1,0,1,0,0,0,1,0,9,False,False,1,1,0,0,1,0,0,1,0,0,0,0,0,1,?
2,0,0,0,1,0,0,1,0,0,0,1,0,13,True,False,1,0,0,1,0,0,0,0,1,0,0,0,0,1,?
3,0,0,0,0,1,0,1,0,0,0,1,0,12,False,False,1,0,0,1,0,0,0,1,0,0,0,0,0,1,?
4,0,0,1,0,0,0,0,0,1,0,1,0,14,False,False,0,0,0,1,0,0,0,1,0,0,0,0,0,1,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,1,0,0,0,1,0,0,1,10,False,False,1,1,0,1,0,0,0,1,0,0,0,1,0,0,?
996,0,1,0,0,0,0,1,0,0,0,0,1,13,True,False,1,1,0,0,1,0,0,0,1,0,0,0,0,1,?
997,1,0,0,0,0,0,1,0,0,0,0,1,5,False,False,0,1,0,0,1,0,1,0,0,0,1,0,0,0,?
998,1,0,0,0,0,0,1,0,0,0,1,0,8,False,False,1,1,0,1,0,0,0,0,1,0,0,0,0,1,?
999,1,0,0,0,0,0,1,0,0,0,0,1,7,False,False,1,1,0,0,1,0,0,1,0,0,0,0,0,1,?

In [45]:
# dataframe size and dimentionality
shape = census_test_s.shape 


# printing size and dimentionality
print("Test data: {}".format(shape))

Test data: (1000, 30)

In [62]:
census_test_s.to_csv('adult.test-filtered.csv')